<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9381af">  <td>23/09/26 10:55:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestingQA.testNegativeScenario2()[pri:0, instance:agilegroupj.blazerrental.TestingQA@a514af7]">testNegativeScenario2</td> 
  <td>main@1047087935</td>   <td></td> </tr>
<tr bgcolor="9381af">  <td>23/09/26 10:55:31</td>   <td>-140</td> <td>&nbsp;</td><td title="&gt;&gt;TestingQA.setUp()[pri:0, instance:agilegroupj.blazerrental.TestingQA@a514af7]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1047087935</td>   <td></td> </tr>
<tr bgcolor="9381af">  <td>23/09/26 10:55:31</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestingQA.testPositiveScenario()[pri:0, instance:agilegroupj.blazerrental.TestingQA@a514af7]">testPositiveScenario</td> 
  <td>main@1047087935</td>   <td></td> </tr>
<tr bgcolor="9381af">  <td>23/09/26 10:55:31</td>   <td>17</td> <td>&nbsp;</td><td title="&lt;&lt;TestingQA.tearDown()[pri:0, instance:agilegroupj.blazerrental.TestingQA@a514af7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="9381af">  <td>23/09/26 10:55:31</td>   <td>-8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestingQA.testNegativeScenario1()[pri:0, instance:agilegroupj.blazerrental.TestingQA@a514af7]">testNegativeScenario1</td> 
  <td>main@1047087935</td>   <td></td> </tr>
</table>
